body{
    background-color: rgb(231, 221, 205);
  }

  .divy{
      width:1000px;
      height:550px;
      
      position: relative;
      left:120px; 
      margin-top: 10px;

  }
  .divi{
      width:650px;
      height:350px;
      border:1px solid black;
      position: relative;
      left:150px; 
      top:10px;

      
  }
  .divx{
      width:800px;
      height:170px;
      position: relative;
      left:80px; 
      top:20px;
      display:flex;
      gap:5px;
      justify-content: center;

  }
 